@import "tailwindcss";
@plugin "daisyui";



html { scroll-behavior: smooth; }


.hero-title-shadow {
  text-shadow: 2px 4px 16px rgba(0,0,0,0.6);
}


.card-img {
  object-fit: cover;
}


.banner-overlay { background: rgba(0,0,0,0.25); }